:root {
  background: linear-gradient(to top left, #0c1a1b, #2d3e3c);
  /* PALETTE PROVIDED BY: https://imagecolorpicker.com/ */
  /* color: #282f2c; */
  color: #ba9c5c;
  /* color: #79673e; */
  /* color: #7ba769; */
  /* color: #4f784a; */
  /* color: #485a2c; */
  /* color: #a83a16; */
  /* color: #4e5568; */
  /* color: #56929d; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
